{% extends "base.html" %}

{% block "title" %}Post{% endblock %}

{% block "content" %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <img class="rounded-circle account-img" style="height: 30px" src="{{ post.author.profile.photo.url }}">
            <a class="mr-2">{{ post.author }}</a>
            <small class="text-muted">{{ post.date|date:"Y-m-d, f" }}</small>
            <h2><a class="class-article">{{ post.title }}</a></h2>
            <p class="class-content">{{ post.content | safe }}</p>
            <hr>
            <h4>Comments ({{ post.comments_count }}):</h4>
            {% if user.is_authenticated %}
            <div class="fieldWrapper mb-2">
                <hr>
                <br/>
                <h5>Leave a Comment:</h5>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.content }}<br/>
                    <input type="submit" value="Post">
                </form>
            </div>
            {% endif %}
            {% if post.comments.all %}
            {% for comment in post.comments.all %}
            <img class="rounded-circle account-img" style="height: 30px" src="{{ comment.author.profile.photo.url }}">
            <small class="text-muted">{{ comment.author }}, {{ comment.date|date:"Y-m-d, f" }}</small>
            <p>{{ comment.content | safe}}</p>
            {% endfor %}
            {% else %}
            <p>No comments</p>
            {% endif %}
        </div>
    </div>
</article>
{% endblock %}